.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .gradient-text {
    background: linear-gradient(to right, #ff4d4d, #ffaf52);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  
  /* Top resources section styles */
  .top-resources {
    padding: 2rem 0;
  }
  
  .top-resources h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .top-resources ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap; /* Add this line to wrap list items to the next line when there's not enough space */
  }

  .top-resources li {
    margin: 1rem;
    text-align: center;
  }

  .top-resources a {
    display: inline-block;
    padding: 1.5rem 2rem;
    background: linear-gradient(to right, #43c6ac, #191654);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem; /* Increase the font size for better readability */
    border: 2px solid #ff4d4d;
    border-radius: 25px; /* Increase the border-radius for a friendlier look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a box-shadow for a raised appearance */
    transition: all 0.2s ease-in-out;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .top-resources a:hover {
    background: linear-gradient(to right, #ff4d4d, #ffaf52);
    color: #ffffff; /* Keep the text color white on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Add a slightly larger box-shadow on hover */
  }

  @media screen and (max-width: 768px) {
    f.top-resources ul {
        flex-direction: column;
    }
  }
  .top-resources a {
    display: block !important;
    padding: 1rem 1.5rem; /* Reduce the padding for smaller screens */
    background: linear-gradient(to right, #43c6ac, #191654);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem; /* Reduce the font size for smaller screens */
    border: 2px solid #ff4d4d;
    border-radius: 20px; /* Reduce the border-radius for smaller screens */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin-bottom: 1rem;
  
  }

  
  /* Testimonials section styles */
  .testimonials {
    color: white;
  }
  
  .testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .testimonials ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .testimonials li {
    margin: 2rem;
    max-width: 400px;
  }
  
  .testimonial-text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
  }
  
  .testimonial-author {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: right;
  }